hr
{
    border: 1px solid #00283C;
}

table 
{
    margin: 20px 0;
}
table#entiteit
{

    margin: 1em;
    border: solid 1px gray;
    border-collapse: collapse;
    text-align: center;
}
table#entiteit th {
    border: solid 1px white ;
    color: white;
    background-color: black;
    padding: 15px;
    
  }
  table#entiteit td
  {
   border: solid 1px black;
   padding: 15px;
  }
  table#entiteit caption
  {
    caption-side: bottom;
    padding: 10px
  }